<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Live statistics and coronavirus news tracking the number of confirmed cases, recovered patients, and death toll due to the COVID-19 coronavirus around the world. Coronavirus counter with new cases, deaths and updates by countries. Estadísticas en vivo y noticias de coronavirus que rastrean el número de casos confirmados, pacientes recuperados y número de muertes debido al coronavirus COVID-19 en todo el mundo. Contador de coronavirus con nuevos casos, muertes y actualizaciones por países.">
    <meta name="keywords" content="covid19, coronavirus, coronavirus español, covid19, corona virus latinoamerica, covid 19, covid conteo, coronavirus estadisticas">
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <title>Covid19</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <nav class="navbar navbar-light bg-light col-sm-12">
        <div class="container">
          <div class="row">
            <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Covid19">Covid19</a>
            <%= form_tag(countries_index_path, class: 'form-inline') do %>
              <%= text_field_tag :search, params[:search], class: 'form-control mr-sm-2', type: 'search' %>
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %> alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <%= yield %>
      <footer class="footer">
        <small>
          covid-19 - 2020
        </small>
        </nav>
      </footer>
    </div>
  </body>
</html>
